 /**
 This stylesheet is part of the java script calendar and date picker
  **/
  
#calender {
	width: 200px;
	font-family: ms sans serif, sans serif;
	font-size: 7pt;
	color: white;
	}

#calenderTable {
	border-style: outset;
	border-width: 2px;
	border-color: black;
	background-color: black;
	display: none;
	position: absolute;
	z-index: 1;
	top: 0px;
	left: 0px;
	}

#calenderTableHead TR {
	background-color: #6666FF;
	}

#calenderTableDays TR {
	background-color: #B40404;
	color: #E6E6E6;
	}

.normalDay {
	border: 1px dotted black;
	cursor: pointer;
	}

.hlDay {
	border: 1px black;
	background-color: #585858;
	color: #E6E6E6;
	cursor: pointer;
	}

.toDay {
	border: 1px solid #E70;
	background-color: #FD8;
	color: #E70;
	font-weight: bold;
	cursor: pointer;
	}

.choosenDay {
	border: 1px #000000;
	background-color: #585858;
	color: #E6E6E6;
	font-weight: bold;
	cursor: pointer;
	}