* {
    margin: 0;
}

html, body {
height: 100%;
width: 100%;
overflow: hidden;
padding: 0;
margin: 0;
}

body {
padding:0px;
margin:0px;
overflow:hidden;
}

#bg {
position:absolute;
width:100%;
height:100%;
margin:0px;
padding:0px;
left:0px;
right:0px;
z-index:1;
}

#user {
position:fixed;
margin-top:267px;
margin-left:710px;
}

#pwd {
position:fixed;
margin-top:357px;
margin-left:710px;
}

#enter {
position:fixed;
margin-top:430px;
margin-left:695px;
}

#warning {
position:fixed;
margin-top:410px;
margin-left:700px;
}

.textA {
font-size:10pt;
height:30px;
width:400px;
font-family:Calibri;
border: 0px solid #000000;
background-color: transparent;
background-image: url('transparent.gif');
}

.divider{
height:20px;
}