* {
    margin: 0;
}

html, body, h1, h2, h3, h4, h5, h6, p, menu, ul, li, ol, cite, blockquote, pre {
margin: 0;
padding: 0;
height: 100%;
}

body {
width: 1230px;
padding: 0;
margin: 0 0;
text-align: justify;
font-family: Calibri, Tahoma, Arial;
font-size: 14px;
color: black;
/* background-image:url('../images/template.jpg'); */
/* background-repeat:no-repeat; */

}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
clear: both;
margin-left: 300px;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}

a {
color: #ff8000;
text-decoration: none;
}

a:hover {
color: #FFF;
text-decoration: underline;
}

strong {
color: #525252;
}

h1 {
width: 300px;
height: 50px;
background: url("images/header.jpg")no-repeat #151515;
padding: 10px 0 0 0px;
font-size: 20px;
}

h1 em {
color: #ff8000;
}

h2 {
font-size: 24px;
margin: 10px;
}

h2 a {
color: #ff8000;
}

h2 a:hover {
text-decoration: none;
color: #FFF;
}

#head {
width: 930px;
float: right;
margin-top: 145px;
}

#content {
float: right;
display: inline;
margin-left: 0px;
margin-bottom: 20px;
font-size: 15px;
margin-right: 30px;
height: 650px;
width: 780px;
overflow: auto;
border: 0px solid #666;
padding: 8px;
}

#content table {
color: black;
}


#menu {
width: 260px;
float: left;
overflow: hidden;
margin-left: 90px;
margin-top: 0px;
}

h3 {   
padding: 10px 0 0 25px;
width: 233px;
height: 33px;
background: no-repeat #000;
font-size: 17px;
color: #6666FF;
}

h4 {   
padding: 10px 0 0 0px;
height: 30px;
font-size: 25px;
color: black;
font-weight:normal;
}


#menu ul {
list-style: none;
padding: 0 0 0 0;
margin-bottom: 0px;
}

#menu ul li a{
color:#5C5858;
font-family: arial,sans-serif;
font-size: 13px;
font-weight:bold;

}

#menu li {
width: 268px;
height: 38px;
color: black;
}

#menu li a {
color: black;
width: 268px;
height: 28px;
text-decoration: none;
background: no-repeat 7% 50%;
display: block;
padding: 10px 0 0 25px;
font-size: 12px;
}

#menu li a:hover {
background:url('../images/Arrow_Red.png');
color: #463E3F;
font-style:italic;
font-weight:bold;
}

p {
margin: 10px;
font-size: 11px;
font-family: Calibri;
padding: 0 0 0 250px;
}

.desc {
color: #717171;
border-bottom: 1px solid #232323;
}


.img-left{ display: block; float: left;  margin: 0 5px 5px 0;}
.img-right{ display: block;  float: right;  margin: 0 0 5px 5px;}
.img-center{ display: block; margin: 10px auto;}


.textbox {
width: 130px;
}
.textbox input {
border:none;
outline:none;
background:url('../images/Text.png') no-repeat left top;
padding:5px;
padding-left:15px;
padding-top: 0px;
width: 240px;
height: 25px;
margin: 0 0 0 0;
color: black;
}

.dropdown {
width: 235px;
}
.dropdown select {
border:none;
outline:none;
background: url('../images/Drop-Down.png') no-repeat left top;
padding: 8px;
padding-left:25px;
padding-top:0px;
width: 235px;
height: 35px;
margin: 0 0 0 0;
color: black;
-webkit-appearance: none;
}
.dropdown option {
border:none;
outline:none;
padding: 4px;
padding-left:15px;
padding-top:5px;
width: 235px;
height: 13px;
margin: 0 0 0 0;
color: black;
-webkit-appearance: none;
}

.error-msg{
	color: DarkRed;
}


